.main{
  background: linear-gradient(to right,  #9c27b0, #8ecdff);
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right,  #9c27b0, #8ecdff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  position: absolute;
  background-color: lightskyblue ;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#weatherInfo {
  margin-top: 20px;
}

#weatherInfo h2, #weatherInfo p {
  margin: 5px 0;
}

/*.circle{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  text-justify: center;;
  background: #fff;
  
}*/

.weatherBG{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-style: aquamarine;
  z-index: -1;
}
